* {background-color: #b3d3d2; font-family: verdana}
h1 {text-align: center; font-weight: bold; text-transform: uppercase;}
h2 {text-align: left; font-weight: bold;text-decoration: underline; background-color: #046e6c}
h3 {text-align: left; background-color: #4f9998; font-style: italic;}
p {background-color:#81b6b5}
#apartado {font-weight: bold;background-color:#81b6b5}
#cursiva {font-style: italic;background-color:#81b6b5}