* {background-color: rgb(0,75,25);}
h1 {font-weight: bold;font-family: verdana;text-transform: capitalize;}
.infancia {font-family: serif;color: white;font-style: italic}
.números {font-family: cursive;color: red;}
.animales {font-family: sans-serif;color: #FFDB99;font-family: verdana}
.literatura {font-family: monospace;color: orange;font-family: courier}